body{
    background-color: #211E1E
}

h1{
    text-align: center;
    color: white;
    font-family: Impact, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
}

#spinButton{
    display: block;
    margin: 100px auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#dollars{
    display: block;
    margin: -100px 10px 0 auto;
    width: 200px;
}

.money{
    color: green;
    text-align: right;
    margin-right: 200px;
    margin-top: 50px;
    font-size: 35px;
    font-family: Impact, sans-serif;
    text-shadow: 1px 1px 0 white;
}

.time{
    position: absolute;
    top: 100px;
    color: yellow;
    text-align: left;
    margin-left: 200px;
    font-size: 35px;
    font-family: Impact, sans-serif;
    text-shadow: 1px 1px 0 black;
}

.slotMachine {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}

.goBack{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size : 50px;
    border-radius : 50px;
    color : white;
    background-color : red;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
}

.reel{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 5px solid gold;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.reel img {
    width: 100%;
    display: block;
}

.spin {
    animation: spin-anim 0.5s linear infinite;
}
.star{
    position: fixed;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 6px white;
    animation: twinkle 2s infinite alternate;
}


@keyframes spin-anim {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

#message {
    text-align: center;
    font-family: Impact, sans-serif;
    font-size: 40px;
    height: 50px;
    margin-top: 20px;
}

.not-enough-money {
    color: red;
    text-shadow: 2px 2px 5px black;

}
.jackpot {
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

.ok {
    color: green;
    text-shadow: 2px 2px 5px black;
}

.dommage {
    color: red;
    text-shadow: 2px 2px 5px black;
}
